@mixin importFont($font, $weight, $path) {
  @font-face {
    font-family: $font;
    font-weight: $weight;
    src: url($path);
  }
}

$fontHeading: 'Comfortaa';
$fontHeadPath: '../fonts/comfortaa/';

//++++++++++++++++++++++++++++++++++ | regular | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 400, $fontHeadPath + 'Comfortaa-Regular.ttf')

//++++++++++++++++++++++++++++++++++ | medium | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 500, $fontHeadPath + 'Comfortaa-Medium.ttf')

//heading font
//++++++++++++++++++++++++++++++++++ |  semi-bold | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 700, $fontHeadPath + 'Comfortaa-SemiBold.ttf');
//heading font
//

//heading font
//++++++++++++++++++++++++++++++++++ |  bold | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 900, $fontHeadPath + 'Comfortaa-Bold.ttf');
//heading font
//


$fontBase: 'MuseoSans';
$fontBasePath: '../fonts/museoSans/';

//++++++++++++++++++++++++++++++++++ | regular | ++++++++++++++++++++++++++++++++++
@include importFont($fontBase, 300, $fontBasePath + 'MuseSansCyrlRegular.otf')

//++++++++++++++++++++++++++++++++++ | medume | ++++++++++++++++++++++++++++++++++
@include importFont($fontBase, 500, $fontBasePath + 'MuseSansCyrlMedium.otf')

//header font
//++++++++++++++++++++++++++++++++++ |  semebold | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 700, $fontBasePath + 'MuseSansCyrlSsemeBold.otf');
//header font
//

//header font
//++++++++++++++++++++++++++++++++++ |  bold | ++++++++++++++++++++++++++++++++++
@include importFont($fontHeading, 900, $fontBasePath + 'MuseSansCyrlBold.otf');
//header font
//
