//min width 1200px
@media screen and (min-width: 1200px) {

  //min width 1200px
}

//min width 992px
@media screen and (min-width: 992px) {
  .product-page-main-inf-img {
    padding-left: 20px;

    &::before {
      display: block;
    }
  }
  //min width 992px
}

//min width 768px
@media screen and (min-width: 768px) {

  //min width 768px
}

//min width 576px
@media screen and (min-width: 576px) {
.text-sm-upper {
  text-transform: uppercase;
}
  //min width 576px
}


//max width 1450px
@media screen and (max-width: 1450px) {

  //max width 1450px
}

//max width 1199px
@media screen and (max-width: 1199px) {

  .nav-logo{
    padding: 15px 0;
  }
  .nav-list{
    padding: 20px 0;
  }

  .slider-content{
    right: 35%;
  }
  .nav-list .nav-list-element{
    justify-content: center;
  }
  .nav-logo{
    text-align: center;
  }
  //max width 1199px
}

//max width 991px
@media screen and (max-width: 991px) {


  .partnior{
    padding: 45px 0;
  }
  .slider-element{
    height: 600px;
  }
  .slider-content{
    right: 25%;
  }
  .nav-list-item + .nav-list-item{
    padding-left: 18px;
  }
  .nav-list-item{
    margin-right: 18px;
  }

  //max width 991px
}


//max width 767px
@media screen and (max-width: 767px) {




  .main-about-title{
    margin-bottom: 20px;
  }
  .main-about-link{
    margin-top: 20px;
  }
  .main-about-img img{
    width: 100%;
  }
  .main-about-img::before{
    position: static;
    border: none;
  }
  .mt-3{
    margin-top: 24px;
  }
  .preimushchestva-text{
    margin-top: 30px;
  }
  .project-main-list{
    flex-wrap: wrap;
    text-align: center;
  }
  .project-main-list li{
    flex-basis: 50%;
  }
  .project-main-list a{
    padding: 15px 15px;
  }
  .partnior{
    padding: 25px 0;
  }
  .slider-element{
    height: 500px;
  }

  .slider-content P{
    font-size: 26px;
  }
  .slider-content{
    right: 25%;
    width: 400px;
    padding: 25px 18px;
  }
  .footer-buton-satsial{
    justify-content: space-around;
  }
  .footer-buton-center-text,.footer-buton-left-text{
    text-align: center;
  }
  .nav-list{
    display: none;
  }
  //max width 767px
}

//max width 575px
@media screen and (max-width: 575px) {


  .product-factory-process-head-title-plus-icon {
    display: none;
  }
  .text-mb-center {
    text-align: center;
  }
  .product-factory-process-item-wrap {
    .product-factory-process-item:nth-child(odd) {
      .product-factory-process-item-content {
        margin-left: 0;
        right: 0;

        &-inner {
          padding-right: 30px;
        }

      }
    }
  }
  .product-factory-process-item {
    flex-direction: column !important;
    &-img {
      img {
        height: auto;
      }
    }

    &-content {
      max-height: none;

      &-inner {
        max-width: none;
      }
    }
  }
  .preimushchestva-text p{
    //text-transform: capitalize;
  }

  .main-product-card-img img{
    height: 300px;
  }
  .main-product-title{
    margin-bottom: 30px;
  }
  .main-product{
    padding: 30px 0;
  }
  .main-about{
    padding: 30px 0;
  }
  .preimushchestva-text{
    margin-top: 20px;
  }
  .reviews-main{
    padding: 30px 0;
  }
  .reviews-main-element{
    margin-top: 30px;
  }

  .blog-main{
    padding: 30px 0;
  }
  .blog-main-card{
    margin-top: 30px;
  }
  .footer-contact{
    padding: 30px 0;
  }
  .partnior{
    padding: 15px 0;
  }
  .slider-content a{
    margin-top: 10px;
    padding: 10px 15px;
  }
  .slider-element{
    height: 400px;
  }

  .slider-content P{
    font-size: 24px;
  }
  .slider-content{
    right: 25%;
    width: 300px;
    padding: 10px 10px;
  }

  .footer-contact-phone,.footer-contact-element,.footer-contact-title,.footer-contact-nav{
    text-align: center;
  }
  //max width 575px
}

//max width 480px
@media screen and (max-width: 480px) {

  .slider-element{
    height: 350px;
  }
  .main-product-card-img img{
    height: 270px;
  }
  .preimushchestva{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .project-main-list{
    flex-direction: column;
  }
  .project-main-element-img img{
    height: 250px;
  }
  .slider-content{
    background: none;
    right: 5%;
  }
  .partnior-img{
    justify-content: center;
  }
  //max width 480px
}
